body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #eaeaf1;
    color: #004499;
    padding: 30px;
    text-align: center;
    border-radius: 5px;
}

.nav{
    background-color: #ececec;
}

/*-----витя--------*/
/* Стилі для карты */
img {
    max-width: 200%;
    height: auto;
}
.map {
    position: relative;
    width: 100%; /* Ширина карты */
    max-width: 100%; /* Максимальная ширина карты */
    height: auto; /* Автоматическая высота, чтобы сохранить соотношение сторон */
}

/* Необязательные стили для картинки внутри карты */
#image-container img {
    max-width: 100%; /* Ширина изображения равна ширине контейнера */
    height: auto; /* Автоматическая высота, чтобы сохранить соотношение сторон */
    display: block; /* Элемент блочный */
    margin: 0 auto; /* Автоматический отступ по горизонтали, чтобы изображение оставалось по центру */
}

.marker {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
    cursor: pointer; 
  
}


.marker:hover {
    transform: scale(1.2); 
    z-index: 2; 
}





/*-------link-----------*/
.link {
    position: relative;
    display: inline-block;
}

.link + .link {
    margin-top: 20px; 
} 

.link-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%; 
    left: 0; 
}

.link-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block; 
}

.link-content a:hover {
    background-color: #fff;
}

.link:hover .link-content {
    display: block;
}

.link-content a img {
    max-width: 20px; 
    max-height: 22px; 
   display: block;
    margin: auto; 
    border-radius: 5px;
}

/*------drop--------*/
.menu-icon {
    display: none; 
    cursor: pointer;
}
.nav{
    background-color: white;  
}

.dropbtn {
    background-color: #004499;
    color: white;
    padding: 16px;
    font-size: 13px;
    border: none;
    width: 169px; 
    height: 47px; 
    
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown + .dropdown {
    margin-top: 20px; 
} 

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow-y: auto; 
    max-height: 200px;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #0653b4;
}
/*--------main------- */

main {
    background-color: #eaeaf1;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin: 20px;
    border-radius: 5px;
    
}

#location-info {
    width: 60%;
    padding: 20px;
    display: flex;
    flex: 1;
}

#location-image {
    width: 60%; 
    height: 70%; 
    margin-top: 15px;
}
/*
.enlarged-image {
    width: 100%; 
    height: auto; 
    max-width: 800px; 
}
*/


#location-description {
    margin-left: 50px;
    font-size: 1.6vw; 
    line-height: 1.5;
    
}


footer {
    background-color: #eaeaf1;
    color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
}
/*-----------кнопки--------*/

button {
    background-color: #004499;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #004499;
}


img {
    width: 600px; 
    height: 400px;
    border-radius: 5px;
}

/*---------карта ------------*/


   /*--------адаптация---------*/
   @media only screen and (max-width: 1020px) {

   .dropbtn {  
    padding: 5px;
    font-size: 10px;
    width: 120px; 
    height: 40px;      
}

      #location-description {
    margin-left: 40px;
    font-size: 1.7vw;
} 
       #location-image {
    width: 60%; 
    height: 70%; 
}
}

 @media only screen and (max-width: 725px) {

    .map-content {
   left: 40%;  
}

    .dropmap,
    .toggle-map,
    button {
        margin-bottom: 10px; 
    }
    
     #location-info {
        flex-direction: column;
        align-items: center;
    }

     #location-description {
       margin-left: 10px;
    font-size: 15px;
         
}
     
     #location-image {
    margin-left: -20px;
    width: 90%; 
    height: 70%; 

     }
/*---------------*/
.menu-icon {
    display: block;
  }

  .nav {
    position: relative;
  }

  .nav.show-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f0f0f0;
    position: absolute;
    top: calc(100%+ 0);
    left: 15%;
    transform: translateX(-50%);
    z-index: 999;
    overflow-y: auto;
    border: 1px solid #ccc; 
    border-radius: 5px; 
  }

  .nav.show-menu .dropdown {
    display: block;
  }

  .dropdown {
    display: none;
  }
 }

 @media only screen and (max-width: 400px) {
   
     .map-content {
   left: 30%;  
   }
     
    .nav.show-menu {
        left: 20%;  
    }
        
    }